@import "tailwindcss";

@theme {
  --font-en: var(--font-poppins);
  --font-bn: var(--font-hind);
}


.font-en {
  font-family: var(--font-poppins), sans-serif;
}

.font-bn {
  font-family: var(--font-hind), sans-serif;
}


body {
  font-family: var(--font-poppins), sans-serif;
  background-color: black;
  color: white;
}